
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

take combation of  string intergers float print only float values 
print only in string 
in replace whit a name is calles interger float vallu string

In [2]:
def abhi(n):
    if type(n)==str:
        return("string")
    elif type(n)==float:
        return("float")
    elif type(n)==int:
        return("integer")

In [4]:
n=[1,2,3,4,2.0,3.0,'hello',4.0,20,'abhi']

In [5]:
list(map(abhi,n))

['integer',
 'integer',
 'integer',
 'integer',
 'float',
 'float',
 'string',
 'float',
 'integer',
 'string']

In [ ]:
def abhi(n):
    if type(n)==int:
        return("integer")

In [6]:
list(map(abhi,n))

['integer',
 'integer',
 'integer',
 'integer',
 'float',
 'float',
 'string',
 'float',
 'integer',
 'string']

In [7]:
def abhi(n):
    if type(n)==str:
        return("string")

In [8]:
list(map(abhi,n))

[None, None, None, None, None, None, 'string', None, None, 'string']

In [9]:
def abhi(n):
    if type(n)==float:
        return("float")

In [10]:
list(map(abhi,n))

[None, None, None, None, 'float', 'float', None, 'float', None, None]

In [12]:
def abhi(n):
    if type(n)==str:
        return(n)

In [13]:
list(map(abhi,n))

[None, None, None, None, None, None, 'hello', None, None, 'abhi']

In [14]:
def abhi(n):
    if type(n)==str:
        print(n)
    else:
         'continue'

In [15]:
list(map(abhi,n))

hello
abhi

[None, None, None, None, None, None, None, None, None, None]

1.

Create a lambda function that takes two arguments and returns their sum.
Create another lambda function that takes a single argument and returns its square.
Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [56]:
abhi=lambda x,y:x+y
abhi(10,20)

30

In [55]:
c=lambda n:n**2
c(7)

49

In [ ]:
Define a list of integers.
Use the filter function to create a new list that contains only the even numbers from the original list.
Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.
Print both filtered lists.

In [69]:
list1=[1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,]

In [76]:
def even(n):
    if n%2==0:
        print(n)

In [77]:
list(filter(even,list1))

2
4
6
8
10
20
30
40
50
60

[]

In [73]:
def abhi(n):
    if n%2==0 and n<=10:
        print(n)

In [74]:
list(filter(abhi,list1))

2
4
6
8
10

[]

Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
Use the map function to convert each string to an integer and store the result in a new list.
Use the map function again to square each integer in the new list and store the result in another new list.
Print both new lists.

In [113]:
list1=["1","2","3","4","5"]

In [103]:
def string(n):
    print('\n',n)

In [104]:
list(map(string,list1))

 1

 2

 3

 4

 5

[None, None, None, None, None]

In [122]:
siri = list(map(int,list1))
siri

[1, 2, 3, 4, 5]

In [123]:
def square(n):
    return n*n
abhi = list(map(square,siri))
print(abhi)

[1, 4, 9, 16, 25]

- Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [147]:
def abhi(n):
    if n["age"] > 25:
        return n
name=[{"name":"Alice","age":30},{"name":"Bob","age":25}]

In [148]:
c=list(filter(abhi,name))
print(c)

[{'name': 'Alice', 'age': 30}]

5.

Create a program that reads a list of numbers from the user (you can use the input function for this).
Use map and filter functions to perform the following operations:
Square each number.
Filter out numbers that are not divisible by 3.
Print the result.

In [5]:
l1 = []
n = int(input("enter the number of range :: "))
for i in range(1,n+1):
    a=int(input("enter the number : "))
    l1.append(a)
    print(l1)
def b(n):
    return (n*n)
list1 = list(map(b,l1))

enter the number of range :: 3
enter the number : 4
[4]
enter the number : 5
[4, 5]
enter the number : 6
[4, 5, 6]

In [11]:
list1

[16, 25, 36]

In [9]:
def div(n):
    if (n % 3 != 0):
        print (n)
list(filter(div,list1))

16
25

[]